<section id="contact" itemscope itemtype="https://schema.org/ContactPage">
    <div class="container">
        <div class="left-side">
            <div class="title">
                <h1 i18n="nav@@contact">Contact</h1>
            </div>
            <div class="contact-info">
                <div class="picture"></div>
                <div class="info">
                    <p class="name" *ngIf="name"><span itemprop="name">{{ name }}</span></p>
                    <p class="email" *ngIf="email"><fa-icon [icon]="faEnvelope" class="icon" title="Email"></fa-icon><a href="mailto:{{ email }}" itemprop="email">{{ email }}</a></p>
                    <p class="phone" *ngIf="phone"><fa-icon [icon]="faPhone" class="icon" title="Phone"></fa-icon><span itemprop="telephone">{{ phone }}</span></p>
                    <p class="location" *ngIf="location"><fa-icon [icon]="faMapMarkerAlt" class="icon" title="City"></fa-icon><span itemprop="city">{{ location }}</span></p>
                </div>
            </div>
        </div>
        <div class="right-side"></div>
    </div>
    <!-- <div class="half-circle"></div> -->
</section>
